@import "tailwindcss";
/* src/styles/tailwind.css or your main CSS file */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    cursor:default ;
}
p, li{
    font-size: 18px;
}
button{
    cursor: pointer;
}


@font-face {
    font-family: 'Moul';
    src: url('/fonts/Moul-Regular.ttf') format('truetype');
}

/*
h1 {
    font-family: 'Moul', sans-serif;
    font-size: 20px;
} */
h1.font-khmer{
    font-family: 'Moul', sans-serif;
    font-size: 25px;
    font-weight: 50;
    font-style: normal;
}
h2.font-khmer{
    font-family: 'Moul', sans-serif;
    font-weight: 50;
    font-style: normal;
}

@font-face {
    font-family: 'KhmerCustom';
    src: url('/fonts/NotoSerifKhmer-VariableFont_wdth,wght.ttf') format('truetype');
}


.fonts-khmer{
    font-family: 'KhmerCustom', sans-serif;
    font-weight: 400;
    font-style: normal;
}

input.fonts-khmer {
    font-family: 'KhmerCustom', sans-serif;
    font-weight: 400;
    font-style: normal;
}